// 定义scss全局变量 (无需引入，在vite.config.ts里面配置好了)
// 定义项目主题颜色

// 左侧的菜单的宽度
$base-menu-width: 260px;
// 左侧菜单折叠的宽度
$base-menu-min-width: 60px;
// 左侧菜单的背景颜色
$base-menu-background: #001529;

// 顶部导航的高度
$base-tabbar-height: 50px;

// 左侧菜单logo高度设置
$base-menu-logo-height: 50px;

// 左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;